@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* style the scroll bar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #131414;
}

::-webkit-scrollbar-thumb {
    background: #e94560;
}

.nameHeader {
    -webkit-text-stroke: 2.5px #e94560;
    -webkit-text-fill-color: transparent;
    /* make the space between the letters a bit bigger */
    letter-spacing: 0.1rem;
}
